<form class="d-flex flex-column justify-content-between h-100" [formGroup]="form">
    <div class="d-flex flex-column">

        <h1 class="text-center text-uppercase mb-4">Score Board</h1>
        <label class="mt-4  ">Current Tries: </label>
        <input type="text" class="mt-1" value="{{ guessCounter | async }}" formControlName="currentTries">
        <label class="mt-4">Best: </label>
        <input type="text" class="mt-1 input-best" formControlName="best">
        <button (click)="reset()" class="mt-4 button-secondary mb-5">Restart</button>
    </div>
    <div class="d-flex flex-column">
        <label class="mt-4">Deck size: </label>
        <mat-form-field class="mt-1 kcm-select">
            <mat-select formControlName="deckSize">
                <mat-option [value]="deckSize" *ngFor="let deckSize of deckSizeList">{{ deckSize }}</mat-option> 
            </mat-select>
        </mat-form-field>
        <button (click)="startNewGame()" class="mt-1 button-primary">Start a New Game</button>
    </div>

</form>