
<div class="d-flex m-auto gap-1 flex-wrap layout-container">
    <div class="row col-12">
        <div class="col-md-9 order-md-1 order-1">
            <div class="info-container game-table">
                <h1 class="text-center">Tájékoztató</h1>
                <app-game></app-game>
            </div>
        </div>
        <div class="col-md-3 order-md-2 order-2">
            <div class="info-container">
                <h1 class="text-center">Menü</h1>
                <app-menu></app-menu>
                <button (click)="reset()">Reset</button>
            </div>
        </div>
    </div>
</div>
