<div class=" tutorial-container w-100 h-100">

    <h1 class="mt-5">Shoe Pairing Game</h1>
    <p class="list-title mt-3 mb-2">How to Play:</p>
    <ol>
        <li>You'll be presented with a grid of face-down cards.</li>
        <li>Click on a card to reveal the hidden image of a shoe.</li>
        <li>Keep clicking on cards until you find a matching pair.</li>
        <li>When you find a pair, they will be removed from play.</li>
        <li>If the cards don't match, they will flip back over.</li>
        <li>Keep playing until you've matched all the shoes!</li>
    </ol>
    <button class="mt-1 button-primary"  [routerLink]="'layout'">Start Game</button>

</div>